:root {
  --cinza: #272727;
  --card-fundo:  #0f0f0f;
}

body {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  background-color: var(--card-fundo);
}

a {
  color: #ffffff;
  text-decoration: none;
  font-size: 0.8rem;
}

li {
  list-style: none;
}

ul, p {
  padding: 0;
  margin: 0;
}

i, span {
  color: #ffffff;
  font-size: 1em;
  vertical-align: middle;
}

 main {
  width: 100%;
  height: 500px;


} 
